@charset "utf-8";
/* CSS Document */

h1 {
	color: white;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: #A2A2A2;
}

h3 {
	font-size: 18px;
	color: #14A817;
}

h4 {
	color: #7EFBA7;
	font-size: 28px;
}

h5 {
	color: #00FF05;
	font-size: 20px;
}

body {
	background-color:#424242;
}

p { 
color: #00FF74;
}

#bigfive img {
	margin-top:15px;
}

